<% include partials/header %>

<div id="title-container">
    <h1 id="title">AutoReddit</h1>
    <h3 id="subtitle">Automate your reddit browsing, don't miss anything</h3>
</div>



<% include partials/footer %>