<% include partials/header %>

<h1>/r/<%= subreddit.name %> details</h1>

<div>
    <h2>Posts</h2>
</div>

<div>
    <a href="/userControlPanel/<%= subreddit._id %>/tags">Tags</a>
</div>

<form action="/userControlPanel/:subreddit._id?_method=DELETE" method="POST">
    <input type="hidden" name="subreddit" value="<%= subreddit._id %>">
    <input type="submit" class="btn btn-danger" value="Delete this sub">
</form>

<% include partials/footer %>