<% include partials/header %>

<h2><%= user.username %>'s Control Panel</h2>

<div id="trackedSubs">
    <h4>Your Subreddits</h4>
    <% user.subreddits.forEach(function(subreddit){ %>
        <div>
            <form action="/userControlPanel/<%= subreddit.name %>" method="POST">
                <input type="hidden" name="subredditName" value="<%= subreddit.name %>">
                <button type="submit">
                    /r/<%= subreddit.name %>
                </button>
            </form>
        </div>
    <% }) %>     
</div>

<div id="addSub">
    <form action="/userControlPanel" method="POST">
        <label for="newSubreddit">Name of Subreddit</label>
        <input type="text" name="newSubreddit" placeholder="e.g 'science'">
        <button type="submit">Add new sub</button>
    </form>
</div>

<% include partials/footer %>