body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F6F9;
    color: #4A4A4A;
}
a{
    text-decoration: none !important;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}
footer > p{
    text-decoration: none;
    color: #b5b5b5;
}
h2{
    font-size: 2em;
    opacity: 0.5;
}
h4{
    text-align: center;
}
form{
    margin: 0 35% 0 35%; 
}

button{
    border: none;
}
.navbar-default{
    margin: 0;
    padding: 0;
    /* background-color: #3A3A3A; */
    background-color: #FaFaFa;
    border-bottom: 0;
    border-radius: 0;
}
.navbar-default .navbar-brand{
    font-size: 1.5em;
    /* color: #F0F6F9; */
    color: #3A3A3A;
} 
.navbar-default .navbar-nav > li > a {
    /* color: #b5b5b5; */
    color: #3A3A3A;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    /* color: #F0F6F9; */
    color: #4A4A4A;
} 
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    /* color: #F0F6F9; */
    color: #3A3A3A;
}
.wrapper{
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
}
.viewContent{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 2% 10% 0 10%;
}
#trackedSubs{
    flex: 1;
    border-right: 1px solid rgba(0,0,0,1);
    background-color: #fafafa;
    padding: 0 5% 0 5%;
}
#trackedSubs > h4{
    text-align: center;
    font-size: 2em;
}
#addSub{
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    min-height: 400px;
    padding-top: 5%;
    background-color: #fafafa;
}
#postsContainer{
    flex: 1;
    border-right: 1px solid rgba(0,0,0,1);
    background-color: #fafafa;
    padding: 0 5% 0 5%;
}
#postsContainer > h4{
    text-align: center;
    font-size: 2em;
}
#tagsContainer{
    flex: 1;
    min-height: 400px;
    background-color: #fafafa;
    padding: 0 5% 0 5%;
}
#tagsContainer > h4{
    text-align: center;
    font-size: 2em;
}
.tag{
    margin-left: 25%;
}
#tagEdit{
    text-decoration: none;
    color: #F0F6F9;
}
#tagEditBtn{
    float: right;
}
#title-container{
    margin-top: 120px;
    text-align: center;
}
#title{
    font-size: 5em;
}
#subtitle{
    font-weight: lighter;
    color: #686868;
}
#login{
    margin-top: 5%;
}
#signup{
    margin-top: 5%;
}
